body {
    margin: 0;
  }

h1{
    font-family: 'Roboto', arial;

  }

h2 {
    font-size: 30px;
}
.container{
    display:flex;
    flex-direction: column;
    /* border: 2px solid red; */
}

.nav-bar{
    display:flex;
    background: #1f2937;
    color:#f9f8fa;
    align-items: start;
    /* border: 2px solid red; */

}
.nav-bar .logo img{
    width: 60px;
    padding: 10px 80px 10px 80px;
    margin-right: auto;
    /* border: 2px solid red; */

}

.nav-bar .links a{
    text-decoration:none;
    color: #e5e7eb;
    font-size: 24px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 0px 20px 0px 20px;
}

.nav-bar .links{
    justify-content: space-between;
    margin-left: auto;
    padding: 40px 100px 60px 0px;
    /* border: 2px solid red; */

}

.hero{
    display:flex;
    flex-direction: row;
    padding:100px;
    background: #1f2937;;
    justify-content: center;
    align-items: center;
}
.hero .hero-text{
    flex-basis:400px;
    /* border: 2px solid red; */
    padding: 0px 30px 0px 0px;  
}

.hero .hero-text h1{
    font-size: 48px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* border: 2px solid red; */
    color:#f9f8fa
}

.hero .hero-text p{
    font-size: 18px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    /* border: 2px solid red; */
    color:#e5e7eb
}

.hero .hero-image{
    image-rendering: optimizeQuality;
}

.hero .hero-image img{
   
    /* padding: 10px 80px 10px 80px; */
    width: 600px;
}

.hero button{
    display:block;
    background:#3882F6;
    text-align: center;
    width:100px;
    padding:10px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
    border:none;
}

.players-imgs{
    display:flex;
    align-items: center;
    justify-items: center;
    gap:10px;
    
    
}

.players{
    align-items: center;  
    text-align: center;
    padding: 0px 0px 80px 0px;
}

.player-imgs{
    display: flex;
    /* border: 1px solid gold; */
    justify-content: center;
    flex-wrap: wrap;
}
.player-imgs img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.player-imgs p{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

}

.quote{
    justify-content: center;
    text-align: center;
    display:flex;
    background: #e5e7eb;
}

.quote p{
    padding: 40px 0px 40px 0px;
    font-size:36px;

}

.watch-highlights{
    background: #ffff;
    display: flex;
}

.blue-box{
    display:flex;
    flex: 1 1 auto;
    background:#3882f6;
    margin: 25px;
    text-align: left;
    /* align-items: center; */
    justify-content:center;
    padding: 20px 400px 10px 400px;
    flex-direction: row;
}

.blue-box button{
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
    margin: 50px 0px 0px 60px;
}
.blue-box h5{
    color:#ffff;    
    font-size: 35px;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    padding: 20px 0px 0px 0px;
    margin: 5px 30px 10px 50px;


}
.blue-box p{
    color:#e5e7eb;    
    font-size: 20px;
    padding: 0px 0px 10px 0px;
    margin: 20px 0px 0px 50px;

}


.footer{
    background:#1f2937;
    display: flex;
    flex:1;
    color:#f9f8fa;
    text-align: center;
    justify-content: center;
}